* text=auto
* eol=lf

# These files are text and should be normalized (convert crlf =&gt; lf)
*.cs      text diff=csharp
*.cfg     text
*.csproj  text
*.sln     text

# Images should be treated as binary
# (binary is a macro for -text -diff)
*.png     binary
